<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>
Cześć,
Aby otrzymać dostęp do platformy e-learningowej, prosimy o kliknięcie w poniższy link:
</p>
<a th:href="'https://kodolamacz.online/activation?id='+${accountId}+'&token='+${token}">Aktywacja konta</a>
<p>
Jeśli nie jesteś osobą, która dokonała rejestracji, zignoruj tę wiadomość.
</p>
<p>
Nie zostaniesz zapisany/a do żadnej listy i nie będziesz otrzymywać żadnych dodatkowych informacji dopóki nie potwierdzisz subskrypcji klikając na link powyżej.
</p>
</body>
